@media (max-width: 1200px)
	.container
		padding: 0 50px
	.title
		font-size: 28px
	.promo
		.header
			&__official
				font-size: 11px
				span
					font-size: 17px
			&__phone
				font-size: 17px
		&__header
			font-size: 39px
			line-height: 39px
		&__subheader
			font-size: 22px
			line-height: 22px
		&__link
			font-size: 15px
	