@media (max-width: 1199.98px) {
	.container {
		max-width: 850px;
	}
	.promo {
		background: url("../img/promo_bg.jpg") 23% center/cover no-repeat;
	}
	.benefits {
		&__wrapper {
			flex-wrap: nowrap;
		}
	}
	.catalog {
		&__content {
			margin-top: 60px;
			display: none;
			flex-wrap: wrap;
			&_active {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		&-item {
			margin-right: 20px;
			&:nth-last-child(3) {
				margin-bottom: 20px;
			}
			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
			&:nth-child(3) {
				margin-right: 20px;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}
	.header {
		&__official {
			span {
				font-size: 17px;
			}
		}
		&__phone {
			font-size: 17px;
		}
	}
	.button {
		width: 143px;
		&_main,
		&_submit {
			width: 290px;
		}
	}
	.promo {
		background: url("../img/promo_bg.jpg") 25% center/cover no-repeat;
		&__wrapper {
			margin-top: 80px;
		}
		&__header {
			font-size: 40px;
			line-height: 40px;
		}
		&__subheader {
			font-size: 21px;
			margin-top: 10px;
		}
		&__icons {
			margin-top: 50px;
		}
		&__link {
			font-size: 15px;
		}
	}
	.benefits {
		.title {
			font-size: 28px;
			line-height: 28px;
		}
		&__wrapper {
			flex-wrap: wrap;
			margin: 0;
		}
		&__row {
			flex-basis: 50%;
			justify-content: center;
			&:nth-child(n + 3) {
				margin-top: 60px;
			}
		}
		&__descr {
			margin-top: 35px;
		}
		&__text {
			margin-top: 23px;
		}
	}
	.consult {
		.title {
			&_left {
				font-size: 32px;
			}
		}
		&__descr {
			margin-top: 65px;
		}
		.feed-form {
			.button {
				&_submit {
					width: 300px;
				}
			}
		}
	}
	.catalog {
		&-item {
			&:nth-last-child(3) {
				margin-bottom: 20px;
			}
			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
	.footer {
		&__contacts {
			width: 300px;
			height: 200px;
			padding: 20px 30px 20px 30px;
		}
		&__address {
			font-size: 19px;
			text-align: center;
		}
		&__phone {
			font-size: 18px;
		}
		&__item {
			width: 40px;
			height: 40px;
			i {
				font-size: 19px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
	}
	.header {
		flex-wrap: wrap;
		&__phone {
			display: none;
		}
		&__contacts {
			align-items: center;
			flex: 1 1 100%;
			padding-top: 50px;
			.button {
				font-size: 16px;
				width: 250px;
				height: 40px;
			}
		}
	}
	.promo {
		background: url("../img/promo_bg.jpg") 32% center/cover no-repeat;
		padding: 20px 0 47px 0;
		&__header {
			font-size: 35px;
			line-height: 35px;
		}
		&__subheader {
			font-size: 19px;
			margin-top: 8px;
			line-height: 19px;
		}
		&__wrapper {
			margin-top: 50px;
			align-items: center;
		}
		.button {
			&_main {
				margin-top: 60px;
			}
		}
	}
	.benefits {
		&__row {
			flex-basis: 100%;
			&:nth-child(n + 2) {
				margin-top: 60px;
			}
		}
		&__text {
			margin-top: 15px;
		}
	}
	.consult {
		.title {
			&_left {
				font-size: 25px;
				text-align: center;
			}
		}
		&__descr {
			text-align: center;
			margin-top: 50px;
		}
		.feed-form {
			align-items: center;
			.button {
				&_submit {
					width: 300px;
				}
			}
		}
		.title {
			&_left {
				font-size: 20px;
			}
		}
	}
	.catalog {
		&-item {
			margin-right: 0;
			&:nth-last-child(2) {
				margin-bottom: 20px;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	.feedback {
		&__descr {
			padding-right: 0;
		}
	}
	.modal {
		&__close {
			right: 10px;
			top: 10px;
		}
	}
}
@media (max-width: 575.98px) {
	.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.header {
		justify-content: space-between;
		.button {
			font-size: 11px;
			width: 120px;
			height: 30px;
		}
		&__logo {
			max-width: 50%;
			flex: 0 0 50%;
		}
		&__contacts {
			flex: 0 1 auto;
			padding: 0;
		}
		&__official {
			display: none;
		}
	}
	.promo {
		min-height: 355px;
		background: url("../img/promo_bg.jpg") 25% center/cover no-repeat;
		padding: 15px 0 35px 0;
		.button {
			&_main {
				margin-top: 30px;
				width: 220px;
				font-size: 14px;
			}
		}
		&__header {
			font-size: 30px;
			line-height: 32px;
			text-align: center;
			padding: 0 20px;
		}
		&__subheader {
			font-size: 19px;
			margin-top: 6px;
			line-height: 19px;
			padding: 0 20px;
			text-align: center;
		}
		&__link {
			font-size: 14px;
		}
		&__icons {
			display: none;
		}
	}
	.benefits {
		padding: 40px 0 50px 0;
		&__row {
			padding: 0 29px;
		}
		.title {
			font-size: 21px;
			line-height: 21px;
			margin-bottom: 55px;
		}
		&__text {
			text-align: justify;
			br {
				display: none;
			}
		}
	}
	.consult {
		min-height: 450px;
		background: url("../img/second_bg.jpg") 60% center/cover no-repeat;
		padding: 50px 0;
		.title {
			&_left {
				margin-bottom: 0px;
				font-size: 20px;
			}
		}
		&__descr {
			text-align: left;
			font-size: 18px;
			margin: 25px auto 0 auto;
			max-width: 300px;
		}
		.xs-visible {
			display: inline;
		}
		.feed-form {
			margin-top: 30px;
		}
	}
	.slider {
		padding: 60px 0;
	}
	.catalog {
		padding: 0px 0 60px 0;
		&__tabs {
			flex-direction: column;
		}
		&__tab {
			width: 300px;
			transform: skew(0deg);
			margin-bottom: 10px;
			border-radius: 5px;
			transition: 0.8s all;
			&:last-child {
				margin-bottom: 0px;
			}
			div {
				transform: skew(0deg);
			}
		}
	}
	.feedback {
		.title {
			margin-bottom: 50px;
		}
		padding: 0px 0 40px 0;
		&__item {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__img {
			margin-right: 0;
			margin-bottom: 15px;
		}
		&__descr {
			padding-right: 0px;
			padding-left: 10px;
		}
		&__divider {
			height: 2px;
			&_1 {
				margin: 10px 0 30px 0;
			}
			&_2 {
				margin: 20px 0 30px 0;
			}
		}
	}
	.footer {
		&__map {
			height: 400px;
		}
	}
	.modal {
		&__close {
			right: 40px;
		}
	}
}
