@media (max-width: 1199.98px)
	.container
		max-width: 850px
	.benefits
		&__wrapper
			flex-wrap: no-wrap
		&__item
			width: 218px
@media (max-width: 991.98px)
	.container
		max-width: 720px
	.promo
		&__subheader
			font-size: 1.250rem
	.benefits
		&__row
			justify-content: center
			&:nth-child(n+3)
				margin-top: 40px
		
	
	


	