* {
	font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

@import "variables";
@import "mixins";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";
@import "blocks/consult";
@import "blocks/forms";
@import "blocks/slider";
@import "blocks/catalog";
@import "blocks/title";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/modal";
@import "media";
