.button {
    display: block;
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        height: 55px;
        width: 300px;
        font-size: 16px;
    }
    &_buy {
        width: 131px;
        height: 40px;
        font-size: 14px;
        line-height: 1.2;
        transition: 0.3s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
        }
    }
}