.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba($color: #000000, $alpha: 0.56);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 380px;
	min-height: 400px;
	background-color: #f2f2f2;
	padding: 38px 40px 40px 40px;
	// transition: 1s all;

	&__close {
		position: absolute;
		right: -40px;
		top: 0;
		font-size: 40px;
		line-height: 21px;
		color: $main-color;
		cursor: pointer;
	}

	&__subtitle {
		font-size: 18px;
		line-height: 18px;
		font-weight: 700;
		color: #0d0d0d;
		text-align: center;
	}

	&__descr {
		text-align: center;
		margin-top: 10px;
		font-size: 14px;
		line-height: 14px;
		font-weight: 500;
		color: #0d0d0d;
	}

	&_mini {
		min-height: 140px;
	}

	.error {
		border: 1px solid red;
	}

	label.error {
		top: 20px;
		right: -50%;

		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-left: 11px solid transparent;
			border-right: 11px solid #f2f2f2;
			border-top: 11px solid #f2f2f2;
			border-bottom: 11px solid transparent;
			left: -10px;
			top: 0px;
		}
	}




}

#email-error {
	right: -93%;
	width: 280px;
	text-align: left;
	padding-left: 40px;
}

#order,
#consulting,
#thanks {
	display: none;
}